{% include 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADMIN</title>
    <style>
      table, th, td ,tr{
  border: 1px solid black;
  border-collapse: collapse;
}
    </style>
</head>
<body>
  <h1>Welcome {{user}}</h1>
  <div>
<!-- <table class="table" align="center ml-3 pl-3">
    <thead>
    <tr align="center">
        <th>employeeId</th>
        <th>employee_name</th>
        <th>Requirement</th>
        <th>Reason</th>
        <th>Time</th>
        <th>Status</th>
        <th>Completion</th>
    </tr>
  </thead> -->

    {% for fm in pfm %}
<tr align="center">
    <td>{{ fm.employee_id}}</td>
    <td>{{ fm.employee_name }}</td>
    <td>{{ fm.your_requirement }}</td>
    <td>{{ fm.Reason }}</td>
    <td>{{fm.request_raised_at}}</td>
      <td> {{fm.status}}</td>
      <td><a href="complete/1/{{fm.id}}">complete</a></td>
</tr>
{% endfor %}




    {% for fm in afm %}
<tr align="center">
    <td>{{ fm.employee_id }}</td>
    <td>{{ fm.employee_name }}</td>
    <td>{{fm.your_requirement}}</td>
    <td>{{ fm.Reason }}</td>
    <td>{{fm.request_raised_at}}</td>
      <td> {{fm.status}}</td>
        <td> <a href="complete/2/{{fm.id}}">complete</a></td>
</tr>
{% endfor %}


    {% for fm in bfm %}
<tr align="center">
    <td>{{ fm.employee_id }}</td>
    <td>{{ fm.employee_name }}</td>
    <td>{{ fm.your_requirement }}</td>
    <td>{{ fm.Reason }}</td>
    <td>{{fm.request_raised_at}}</td>
    <td> {{fm.status}}</td>
    <td><a href="complete/3/{{fm.id}}">complete</a></td>

</tr>
{% endfor %}

{% for fm in sfm %}
<tr align="center">
    <td>{{ fm.employee_id }}</td>
    <td>{{ fm.employee_name }}</td>
    <td>{{ fm.your_requirement }}</td>
    <td>{{ fm.Reason }}</td>
    <td>{{fm.request_raised_at}}</td>
    <td> {{fm.status}}</td>
    <td><a href="complete/4/{{fm.id}}">complete</a></td>

</tr>
{% endfor %}
<center>
  <h3>Ticket Information</h3>
<table>
<tr align="center">

  <!-- <th>ID</th> -->
  <th>User</th>
  <th>Subject</th>
  <th>Severity</th>
  <th>Type</th>
  <th>Manager</th>
  <th>time</th>
  <th>Remarks</th>
  <th>Accept</th>
  <th>Status</th>

</tr></thead>
{% for i in ticket %}
<tr align="center">
  <td>{{i.user}}</td>
  <td>{{i.Subject}}</td>
  <td>{{i.Severity}}</td>
  <td>{{i.Type}}</td>
  <td>{{i.Manager}}</td>
  <td>{{i.request_raised_at}}</td>
  
  <td>{{i.Remarks}}</td>
  <td><a href="complete/5/{{i.id}}">complete</a>
     <td>{{i.Status}}</td>
</tr>
{% endfor %} 
</table>
</center>
</table>
  </div>
</body>
   