{% include 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .ram {
            background-color: aqua;
            display:flex;
            flex-direction: column;
            height:100vh;
            font-size: 24px;
            color:black;
        }
        .table {
            background-color: yellowgreen;
        }
     
        table, th, td ,tr{
  border: 1px solid black;
  border-collapse: collapse;
}

    </style>

    
    <meta charset="UTF-8">
    <title>manager</title>
</head>
<body>
    <div class="ram">

 <h1>Welcome {{user}}</h1>
 

 <!-- <table class="table" align="center ml-3 pl-3">
    <thead>
    <tr align="center"> -->
        <!-- {% comment %} <th>id</th> {% endcomment %}
        <th>employeeId</th>
        <th>employee_name</th>
        <th>Requirement</th>
        <th>Reason</th>
        <th>Time</th>
        <th>Accept/Reject</th>
        <th>Status</th>
       -->
    <!-- </tr></thead>

    {% for fm in pfm %}
<tr align="center">
    {% comment %} <td>{{fm.id}}</td> {% endcomment %}
    <td>{{ fm.employee_id}}</td>
    <td>{{ fm.employee_name }}</td>
    <td>{{ fm.your_requirement }}</td>
    <td>{{ fm.Reason }}</td>
    <td>{{fm.request_raised_at}}</td>
      <td><a href="accept/1/{{fm.id}}">accept</a>
    <a href="reject/1/{{fm.id}}">reject</a></td>
          <td>{{fm.status}}</td>

</tr>
{% endfor %} -->




    <!-- {% for fm in afm %}
<tr align="center">
    {% comment %} <td>{{fm.id}}</td> {% endcomment %}
    <td>{{ fm.employee_id }}</td>
    <td>{{ fm.employee_name }}</td>
    <td>{{fm.your_requirement}}</td>
    <td>{{ fm.Reason }}</td>
    <td>{{fm.request_raised_at}}</td>
      <<td><a href="accept/2/{{fm.id}}">accept</a>
<a href="reject/2/{{fm.id}}">reject</a></td>
        <td>{{fm.status}}</td>
    <td>{{id}}</td>
</tr>
{% endfor %} -->


    <!-- {% for fm in bfm %}
<tr align="center">
    {% comment %} <td>{{fm.id}}</td> {% endcomment %}
    <td>{{ fm.employee_id }}</td>
    <td>{{ fm.employee_name }}</td>
    <td>{{ fm.your_requirement }}</td>
    <td>{{ fm.Reason }}</td>
    <td>{{fm.request_raised_at}}</td>
    <td><a href="accept/3/{{fm.id}}">accept</a>
    <a href="reject/3/{{fm.id}}">reject</a></td>
        <td>{{fm.status}}</td>
    <td>{{id}}</td>
        </tr>
 {% endfor %}
 -->

 <!-- {% for fm in sfm %}
<tr align="center">
    {% comment %} <td>{{fm.id}}</td> {% endcomment %}
    <td>{{ fm.employee_id }}</td>
    <td>{{ fm.employee_name }}</td>
    <td>{{ fm.your_requirement }}</td>
    <td>{{ fm.Reason }}</td>
    <td>{{fm.request_raised_at}}</td>
    <td><a href="accept/4/{{fm.id}}">accept</a>
    <a href="reject/4/{{fm.id}}">reject</a></td>
        <td>{{fm.status}}</td>
    <td>{{id}}</td>
</tr>
 {% endfor %} -->

 <center>
    <h3>Ticket Information</h3>
<table>
<tr align="center">
  
    <!-- <th>ID</th> -->
    <th>Ticket Number</th>
    <th>User</th>
    <th>Subject</th>
    <th>Severity</th>
    <th>Type</th>
    <th>Manager</th>
    <th>time</th>
    <th>Remarks</th>
    <th>Accept</th>
    <th>Status</th>
    <th>comment</th>

</tr></thead>
{% for i in ticket %}
<tr align="center">
    <td>{{i.ticket_no}}</td>
    <td>{{i.user}}</td>
    <td>{{i.Subject}}</td>
    <td>{{i.Severity}}</td>
    <td>{{i.Type}}</td>
    <td>{{i.Manager}}</td>
    <td>{{i.request_raised_at}}</td>
    
    <td>{{i.Remarks}}</td>
    <td><a href="accept/5/{{i.id}}">accept</a>
        <a href="reject/5/{{i.id}}">reject</a></td>
       <td>{{i.Status}}</td>
       <td>{{i.comment}}</td>
       
</tr>
{% endfor %} 
</table>
</center>
</body>
</html>